<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>

    <node name="set_auto_exposure_rgb" pkg="dynamic_reconfigure" type="dynparam" args="set /camera/rgb_camera enable_auto_exposure False"/>
    <node name="set_brightness_rgb" pkg="dynamic_reconfigure" type="dynparam" args="set /camera/rgb_camera brightness 0"/>

    
    <!-- Launch binary image -->
    <node name="object_detection" pkg="hri_merty" type="object_detection.py" respawn="false" output="screen" />

    <!-- skeletonize and generate control points -->
    <node name="velocity_control" pkg="hri_merty" type="franka_visual_servoing.py" respawn="false" output="screen" />
    <!-- client node to test the pipeline -->
    <!-- <node name="control_points_gen_client" pkg="encoderless_vs" type="franka_cp_svc_client.py" respawn="false" output="screen" /> -->

   
</launch>

